*{
    margin: 0;
    padding: 0;
    }


  
  
    
.menu {
            display: flex;              /* Transformation en flexbox */
            padding:0;                  /* Suppression des marges internes */
            background-color: bisque;/* Ajout de la couleur d'arrière-plan */
            margin-left: auto;
            margin-right: auto;
            margin-top: 1%;
            width: 83%;
            border-radius: 10px;
            list-style-type: none;
            justify-content: center   /* Alignements des liens dans le menu */
            }
    
.menu a{
        display: block;
        min-width: 120px;
        margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
        padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
        text-align: center;           /* Centrage du texte */   
        background-color: #bc8b1a;    /* Couleur d'arrière-plan */
        color: #ffffffba;                  /* Couleur du texte */
        text-decoration: none;        /* Suppression du soulignement */
        border: 1px solid #ffffff;       /* Ajout d'une bordure */
        border-radius: 5px;           /* Arrondis des bordures */
        transition: all 1s ;          /* Ajout des effets de transition */
        }
    
.menu a:hover {
        background-color: #ffab02;
        color:#ffe943ff;
        border-color: #ffe843;
        }

        .titredusite{
            margin-top: 2%;
            border: solid 1px ;
            background-color: #888888e3;
            width: 100%;
            border-radius: 20px;
        }
        
    .contenaire-body{
            background-color: rgba(255, 255, 255, 0.356);
            width: 50%;
            margin: auto;
            border-radius: 20px;
    }
       
   
    h1{
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        text-shadow: -1px -1px, 1px 1px #888, -3px 0 8px #000;
        font-family:"Segoe print", Arial, Helvetica, sans-serif;
        color: #ffab02;
    }

h2{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 20px;
        font-size: xx-large;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }

h3{
      width: 20%;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      font-size: xx-large;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 .parallaxe{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/Images/recette.jpg);
    height: 200vh;

 }

 .contenaire1{
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.506);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    
 }

 .asavoir{
    
    border-radius: 40px;
    width: 100%;
    height: 100%;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.869);
 }

 .contenaire2{
    
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.506);
    width: 90%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
} 

 .recettes{
    
    border-radius: 40px;
    width: 100%;
    height: 100%;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.869);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
 }

 .img-texte{
    
    display: flex;
    flex-direction: column-reverse; 
    align-items: center;
    margin-top: 10px;
 }

 .img-recette{
    
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 400px;
 }

h4{
    font-family: 'Righteous', sans-serif;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Righteous', sans-serif;
    }

    .rejoigneznous{
        padding: 20px;
     }
     
     footer{
        border-radius: 20px;
        margin-top: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background-color: #ffffffe9;
        
        bottom:0;  /* on le colle en bas */
        height:100px;
    }

     .logofacebook{
     
         display: flex;
         justify-content: center;
     }
     
     .facebooklogo{
         margin-top: 10px;
         margin-bottom: 10px;
         width: 60px;
         border-radius: 400px;
     }

@media screen and (max-width: 480px){
        footer{ 
                display: flex;
                align-items: center;
            }
    }